/* Removes default browser spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.page_title{
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 500;
}

.login_card{
  width: 420px;
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow:0 8px 25px rgba(0, 0, 0, 0.15) ;
}

.login_card h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
}

.in {
  margin-bottom: 26px;
}

.in label {
  display: block;
  margin-bottom: 6px;
  font-size: 15px;
  color: #333;
}

.in input{
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;

}

/* Blue border when user clicks input */
.in input:focus{
  outline: none;
  border-color: #0d0332;
}

button{
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

button:hover{
  background-color: #d20000;
}